{$API_DOMAIN} {
  # root * /var/www/public/public
  # encode gzip
  php_fastcgi unix//run/php/php-7.4-fpm.sock
	file_server
  reverse_proxy api:8000

  handle_errors {
    @isPreflight {
        expression {http.request.method} == "OPTIONS"
    }
  }

  tls /etc/caddy/certs/api.crt /etc/caddy/certs/api.key

  header /storage/* Access-Control-Allow-Origin *
  header Access-Control-Allow-Methods "GET, POST, OPTIONS"
  header Access-Control-Allow-Headers "Content-Type, Authorization"
}

{$MONGO_DOMAIN} {
  reverse_proxy mongo-express:8081

  tls /etc/caddy/certs/mongoui.crt /etc/caddy/certs/mongoui.key
}

{$FRONTEND_DOMAIN} {
  reverse_proxy frontend:80

  tls /etc/caddy/certs/frontend.crt /etc/caddy/certs/frontend.key
}